<h1>Which recipe do you want to create?</h1>

<button class="button">
  <span class="submit">Submit</span>
  <span class="loading"><i class= "fa fa-refresh"></i></span>
  <span class="check"><i class= "fa fa-check"></i></span>
</button>

<script type="text/javascript">
  const button = document.querySelector('.button');
  const submit = document.querySelector('.submit');

  function toggleClass() {
    this.classList.toggle('active');
  }

  function addclass() {
    this.classList.add('finished');
  }

  button.addEventlistener('click', toggleClass);
  button.addEventlistener('transitionend', toggleClass);
  button.addEventlistener('transitionend', addClass);

</script>
